{{define "admin/menu.html"}}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">菜单</li>
            <li>
                <a href="/admin/index">
                    <i class="icon icon-dashboard"></i> 
                    <span>仪表盘</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview menu-open active">
                <a href="javascript:;">
                    <i class="icon icon-file"></i> 
                    <span>主菜单</span>
                    <span class="pull-right-container">
                        <i class="icon icon-angle-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/article/list"><i class="icon icon-list-alt"></i> 文章列表</a></li>
                    <li><a href="/admin/article/add"><i class="icon icon-pencil"></i> 新增文章</a></li>
                    <li><a href="/admin/category"><i class="icon icon-edit-sign"></i> 分类管理</a></li>
                    <li><a href="/admin/sysconfig"><i class="icon icon-cog"></i> 系统设置</a></li>
                    <li><a href="error-404.html"><i class="icon icon-circle-blank"></i> 404页</a></li>
                    <li class="active"><a href="config.html"><i class="icon icon-circle-blank"></i> 系统设置</a></li>
                    <li><a href="list.html"><i class="icon icon-circle-blank"></i> 用户列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon icon-columns"></i> 
                    <span>基础组件</span>
                    <span class="pull-right-container">
                        <i class="icon icon-angle-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="component-checkbox-radio.html"><i class="icon icon-circle-blank"></i> 多选和单选框</a></li>
                    <li><a href="component-step.html"><i class="icon icon-circle-blank"></i> 步骤条</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon icon-sign-blank"></i> 
                    <span>扩展插件</span>
                    <span class="pull-right-container">
                        <i class="icon icon-angle-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="plugin-toastr.html"><i class="icon icon-circle-blank"></i> Toastr</a></li>
                    <li><a href="plugin-notify.html"><i class="icon icon-circle-blank"></i> Notify</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
{{end}}